MAILERSEND_API_KEY=mlsn.3aed812c1f43de42674d6e0e8ef3f017c230f97670e7e8ff27e0c9182ded99d1
MAILERSEND_FROM_EMAIL=hello@your-verified-domain.com
MAILERSEND_FROM_NAME=Arthur Portfolio
MAILERSEND_TO_EMAIL=arthurpedrosodealmeida@gmail.com
